/*!
  * Item: CodeX
  * Description:  Personal Portfolio / Resume / CV / vCard Template
  * Author/Developer: Exill
  * Author/Developer URL: https://themeforest.net/user/exill
  * Version: v1.0.0
  * License: Themeforest Standard Licenses: https://themeforest.net/licenses
  */

/*----------- ADD YOUR CUSTOM CSS STYLES BELOW -----------*/

.logo-icon{
  width: 50px;
  line-height: 100%;
  display: inline-block;
  margin-bottom: 22px;
}
.mvc-icon{
  width: 99px;
}